<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ config.extra.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    {% for item in config.extra.navbar %}
      <a href="{{ item.url | safe | replace(from="BASE_URL", to=config.base_url) }}">{{ item.name }}</a>
    {% endfor %}
  </header>
  <main>
    {% block content %} {% endblock %}
  </main>

  <footer>
  {% if config.extra.contacts %}
  {% for contact in config.extra.contacts %}

  <a href="{{ contact.link }}" target="_blank"><i class="{{ contact.icon }}" style='font-size:30px; padding: 3px'></i></a>

  {% endfor %}

  {% endif %}
  </footer>

</body>

</html>

