{% extends "base.html" %}
{% block content %}
<h1>
  {{ section.title }}
</h1>
<ul class="card-container">
  {% for page in section.pages %}
  <a class="card-link" href="{{ page.permalink | safe}}">
  <li class="card">
    <header class="card-header">
        {% if page.extra.icons %}
          {% for icon in page.extra.icons %}
            <i class="fab fa-{{ icon }}" style='font-size:30px; padding: 3px'></i>
          {% endfor %}
        {% endif %}
      </header>
      <strong class="card-title">
        {{ page.title }}
      </strong>
      <p class="card-content">
        {{ page.description }}
      </p>
    </li>
  </a>
  {% endfor %}
</ul>
{% endblock content %}

